@model IEnumerable<DTO.FactorDTO>

@{
    ViewBag.Title = "Listado Factor";
}

<h2>Factor</h2>
<h4>Listado de Factores</h4>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>
                <a class="pull-right btn btn-success btn-sm" href="@Url.Action("Create", "Factor")">
                    <span class="glyphicon glyphicon-plus"></span> Nuevo Factor
                </a>
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Codigo</td>
            <td>@item.Nombre</td>
            <td>
                <div class="btn-group btn-group-sm pull-right">
                    <a class="btn btn-default" href="@Url.Action("Details", "Factor", new { id = item.Codigo })">
                        <span class="glyphicon glyphicon-eye-open"></span> Detalle
                    </a>
                    <a class="btn btn-default" href="@Url.Action("Edit", "Factor", new { id = item.Codigo })">
                        <span class="glyphicon glyphicon-edit"></span> Editar
                    </a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", "Factor", new { id = item.Codigo })">
                        <span class="glyphicon glyphicon-trash"></span> Eliminar
                    </a>
                </div>
            </td>
        </tr>
    }
</table>
