@model IEnumerable<DTO.FactorDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @* @Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Codigo</td>
            <td>
                @item.Nombre
                @*
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                *@
            </td>
        </tr>
    }
</table>
